<link rel="stylesheet" href="/assets/css/trips.css">
{{> nav }}
{{> login-modal }}
<div class="container">
	<div class="row">
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-default">
				<div class="offer-content">
					<h3 class="lead">
						A default offer
					</h3>
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-success">
				<div class="offer-content">
					<h3 class="lead">
						A success offer
					</h3>						
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-radius offer-primary">
				<div class="offer-content">
					<h3 class="lead">
						A primary-radius
					</h3>						
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-info">
				<div class="offer-content">
					<h3 class="lead">
						An new info offer
					</h3>						
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-warning">
				<div class="offer-content">
					<h3 class="lead">
						A warning offer
					</h3>						
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>
		<div class="trip-container col-xs-12 col-sm-6 col-md-4 col-lg-6">
			<div class="offer offer-radius offer-danger">
				<div class="offer-content">
					<h3 class="lead">
						A danger-radius
					</h3>						
					<p>
						And a little description.
						<br> and so one
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>